<div class="container"><div class="content-block tiny">
<p>
    <strong>Name:</strong>
    <%= @terrain.name %>
</p>

<%= link_to 'Edit', edit_terrain_path(@terrain) %> |
<%= link_to 'Back', terrains_path %> |
<%= link_to 'New', new_terrain_path %>
</div></div>