<div class="container">
    <div class="content-block small">
        <h1>New Monster</h1>

        <%= render 'form' %>

        <%= link_to 'All Monsters', monsters_path %> | 
        <%= link_to 'Main', welcome_index_path %>
    </div>
</div>